<!-- wp:template-part {"slug":"header","theme":"kiwi-farmers","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","bottom":"0px"}}},"backgroundColor":"misc-green","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-misc-green-background-color has-background" style="padding-top:0px;padding-bottom:0px">
    <!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"right":"0rem","left":"0rem","top":"4rem","bottom":"4rem"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"misc-green","layout":{"type":"constrained"}} -->
    <section class="wp-block-group has-misc-green-background-color has-background"
        style="margin-top:0px;margin-bottom:0px;padding-top:4rem;padding-right:0rem;padding-bottom:4rem;padding-left:0rem">
        <!-- wp:heading {"textAlign":"center"} -->
        <h2 class="wp-block-heading has-text-align-center">About
        </h2>
        <!-- /wp:heading -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-default"
        style="margin-top:0;margin-bottom:0" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"2rem","right":"2rem"},"blockGap":"2rem"}},"backgroundColor":"white-secondary-d1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <section class="wp-block-group has-white-secondary-d-1-background-color has-background"
        style="padding-top:var(--wp--preset--spacing--60);padding-right:2rem;padding-bottom:var(--wp--preset--spacing--60);padding-left:2rem">
        <!-- wp:group {"tagName":"article","style":{"layout":{"selfStretch":"fixed","flexSize":"700%"},"elements":{"link":{"color":{"text":"var:preset|color|brown-secondary-0"}}}},"textColor":"brown-secondary-0","layout":{"type":"constrained"}} -->
        <article class="wp-block-group has-brown-secondary-0-color has-text-color has-link-color">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">Who Are We?</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Hello! My name is Ruby Su, the owner and
                sole masseuse at Top Asian Massage and Foot Reflexology. I have been practicing massage therapy
                since 2019 after graduating from the massage therapy program at MaKami College in Edmonton Alberta.
                After graduating, I worked at a Chinese massage clinic for 3 years, where I developed strong skills
                in therapeutic massage. I was confident enough to start my own practice out of my own studio in
                2022. What was originally meant to be a side hustle to supplement my income quickly became my
                full-time career.<br><br>For a long time, I've always had a passion for pain management and
                traditional Chinese techniques, so wanted to find a career path that would allow me to help others
                in their healing journeys. Before I found massage therapy, I intended to be a nurse, but
                unfortunately this wasn't the career for me, as I found myself very uncomfortable using needles. Not
                wanting my fear of needles to result in any unfortunate circumstances, I decided to shift my focus
                to a gentler form of care. From there, I enrolled into a 2-year massage therapy course in 2017, and
                the rest is history.</p>
            <!-- /wp:paragraph -->
        </article>
        <!-- /wp:group -->

        <!-- wp:image {"id":160,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
        <figure class="wp-block-image size-full"><img
                src="https://topasianmassage.com/wp-content/uploads/2026/03/IMG_5616.avif" alt="" class="wp-image-160"
                style="aspect-ratio:1;object-fit:cover" /></figure>
        <!-- /wp:image -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-default"
        style="margin-top:0;margin-bottom:0" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"2rem","right":"2rem"},"blockGap":"2rem"}},"backgroundColor":"misc-green","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <section class="wp-block-group has-misc-green-background-color has-background"
        style="padding-top:var(--wp--preset--spacing--60);padding-right:2rem;padding-bottom:var(--wp--preset--spacing--60);padding-left:2rem">
        <!-- wp:image {"id":175,"sizeSlug":"full","linkDestination":"none","style":{"layout":{"selfStretch":"fixed","flexSize":"40%"}}} -->
        <figure class="wp-block-image size-full"><img
                src="https://topasianmassage.com/wp-content/uploads/2026/03/IMG_5631.avif" alt=""
                class="wp-image-175" /></figure>
        <!-- /wp:image -->

        <!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|brown-secondary-0"}}}},"textColor":"brown-secondary-0","layout":{"type":"constrained"}} -->
        <div class="wp-block-group has-brown-secondary-0-color has-text-color has-link-color">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">Our History</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Working for myself has been extremely
                rewarding. Having the flexibility to work my own hours and providing personalized, high-quality care
                for my clients has given me a strong sense of independence and passion for my craft. I am eternally
                grateful for all the success my independent practice has brought, no doubt by the support I've
                received from all my customers from opening day up to today. It fills me with a sense of pride to be
                able to help members of my local community feel better in their own body, whether that be through a
                simple relaxation massage or helping alleviate chronic pain, and I hope to share this passion with
                you should you choose to book a service with me.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-wide"
        style="margin-top:0;margin-bottom:0" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"constrained"}} -->
    <section class="wp-block-group has-white-secondary-d-1-background-color has-background"
        style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
        <!-- wp:heading {"textAlign":"center","level":3} -->
        <h3 class="wp-block-heading has-text-align-center">Where to
            find us</h3>
        <!-- /wp:heading -->

        <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group"><!-- wp:image -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
                <div class="wp-block-group"><!-- wp:heading {"level":3} -->
                    <h3 class="wp-block-heading">Location</h3>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p>17717-Fifth Ave, SW Edmonton AB. T6W 2L4</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"layout":{"type":"constrained"}} -->
                <div class="wp-block-group"><!-- wp:heading {"level":4} -->
                    <h4 class="wp-block-heading">Hours</h4>
                    <!-- /wp:heading -->

                    <dl class="hours-list">
                        <dt>Monday</dt>
                        <dd>7am - 9pm</dd>
                        <dt>Tuesday</dt>
                        <dd>7am - 9pm</dd>
                        <dt>Wednesday</dt>
                        <dd>7am - 9pm</dd>
                        <dt>Thursday</dt>
                        <dd>7am - 9pm</dd>
                        <dt>Friday</dt>
                        <dd>7am - 9pm</dd>
                        <dt>Saturday</dt>
                        <dd>Closed</dd>
                        <dt>Sunday</dt>
                        <dd>Closed</dd>
                        <!-- and so on -->
                    </dl>
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kiwi-farmers","tagName":"footer"} /-->