<!-- wp:template-part {"slug":"header","theme":"kiwi-farmers","tagName":"header"} /-->
<main>
    <!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"top":"1px","bottom":"1px","left":"0","right":"0"}}},"backgroundColor":"misc-green","layout":{"type":"default"}} -->
    <section class="wp-block-group has-misc-green-background-color has-background"
        style="padding-top:1px;padding-right:0;padding-bottom:1px;padding-left:0">
        <!-- wp:group {"backgroundColor":"misc-green","layout":{"type":"constrained"}} -->
        <div class="wp-block-group has-misc-green-background-color has-background">
            <!-- wp:heading {"textAlign":"center","fontSize":"desktop-h2","fontFamily":"tahoma"} -->
            <h2 class="wp-block-heading has-text-align-center has-tahoma-font-family has-desktop-h-2-font-size">About
            </h2>
            <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->

        <!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
        <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-default"
            style="margin-top:0;margin-bottom:0" />
        <!-- /wp:separator -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"2rem"}},"backgroundColor":"white-secondary-d1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group has-white-secondary-d-1-background-color has-background"
            style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"desktop-h2","fontFamily":"tahoma"} -->
                <h3 class="wp-block-heading has-tahoma-font-family has-desktop-h-2-font-size">Who Are We?</h3>
                <!-- /wp:heading -->

                <!-- wp:paragraph {"fontSize":"desktop-body","fontFamily":"sylfaen"} -->
                <p class="has-sylfaen-font-family has-desktop-body-font-size">Hello! My name is Ruby Su, the owner and
                    sole masseuse at Top Asian Massage and Foot Reflexology. I have been practicing massage therapy
                    since 2019 after graduating from the massage therapy program at MaKami College in Edmonton Alberta.
                    After graduating, I worked at a Chinese massage clinic for 3 years, where I developed strong skills
                    in therapeutic massage. I was confident enough to start my own practice out of my own studio in
                    2022. What was originally meant to be a side hustle to supplement my income quickly became my
                    full-time career.<br><br>For a long time, I've always had a passion for pain management and
                    traditional Chinese techniques, so wanted to find a career path that would allow me to help others
                    in their healing journeys. Before I found massage therapy, I intended to be a nurse, but
                    unfortunately this wasn't the career for me, as I found myself very uncomfortable using needles. Not
                    wanting my fear of needles to result in any unfortunate circumstances, I decided to shift my focus
                    to a gentler form of care. From there, I enrolled into a 2-year massage therapy course in 2017, and
                    the rest is history.</p>
                <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->

            <!-- wp:image -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->
        </div>
        <!-- /wp:group -->

        <!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
        <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-default"
            style="margin-top:0;margin-bottom:0" />
        <!-- /wp:separator -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"2rem"}},"backgroundColor":"misc-green","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
        <div class="wp-block-group has-misc-green-background-color has-background"
            style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
            <!-- wp:image -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"desktop-h2","fontFamily":"tahoma"} -->
                <h3 class="wp-block-heading has-tahoma-font-family has-desktop-h-2-font-size">Our History</h3>
                <!-- /wp:heading -->

                <!-- wp:paragraph {"fontSize":"desktop-body","fontFamily":"sylfaen"} -->
                <p class="has-sylfaen-font-family has-desktop-body-font-size">Working for myself has been extremely
                    rewarding. Having the flexibility to work my own hours and providing personalized, high-quality care
                    for my clients has given me a strong sense of independence and passion for my craft. I am eternally
                    grateful for all the success my independent practice has brought, no doubt by the support I've
                    received from all my customers from opening day up to today. It fills me with a sense of pride to be
                    able to help members of my local community feel better in their own body, whether that be through a
                    simple relaxation massage or helping alleviate chronic pain, and I hope to share this passion with
                    you should you choose to book a service with me.</p>
                <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
        <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-wide"
            style="margin-top:0;margin-bottom:0" />
        <!-- /wp:separator -->

        <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"constrained"}} -->
        <div class="wp-block-group has-white-secondary-d-1-background-color has-background"
            style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
            <!-- wp:heading {"textAlign":"center","level":3,"fontSize":"desktop-h2","fontFamily":"tahoma"} -->
            <h3 class="wp-block-heading has-text-align-center has-tahoma-font-family has-desktop-h-2-font-size">Where to
                find us</h3>
            <!-- /wp:heading -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
            <div class="wp-block-group"><!-- wp:image -->
                <figure class="wp-block-image"><img alt="" /></figure>
                <!-- /wp:image -->

                <!-- wp:group {"layout":{"type":"constrained"}} -->
                <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group"><!-- wp:heading {"fontSize":"desktop-h3","fontFamily":"tahoma"} -->
                        <h2 class="wp-block-heading has-tahoma-font-family has-desktop-h-3-font-size">Location</h2>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph -->
                        <p>17717-Fifth Ave, SW Edmonton AB. T6W 2L4</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":4,"fontSize":"desktop-h3","fontFamily":"tahoma"} -->
                        <h4 class="wp-block-heading has-tahoma-font-family has-desktop-h-3-font-size">Hours</h4>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph -->
                        <p>Monday 7am - 9pm<br>Tuesday 7am - 9pm<br>Wednesday 7am - 9pm<br>Thursday 7am - 9pm<br>Friday
                            7am - 9pm<br>Saturday Closed<br>Sunday Closed</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->

</main>

<!-- wp:template-part {"slug":"footer","theme":"kiwi-farmers","tagName":"footer"} /-->