<!-- wp:template-part {"slug":"header","theme":"kiwi-farmers","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:0px;padding-bottom:0px">
    <!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"right":"0rem","left":"0rem","top":"4rem","bottom":"4rem"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"misc-green","layout":{"type":"constrained","contentSize":"960px"}} -->
    <section class="wp-block-group has-misc-green-background-color has-background"
        style="margin-top:0px;margin-bottom:0px;padding-top:4rem;padding-right:0rem;padding-bottom:4rem;padding-left:0rem">
        <!-- wp:heading {"textAlign":"center","level":1} -->
        <h1 class="wp-block-heading has-text-align-center">The History of our Business</h1>
        <!-- /wp:heading -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-default"
        style="margin-top:0;margin-bottom:0" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","backgroundColor":"white-secondary-d1","layout":{"type":"default"}} -->
    <section class="wp-block-group has-white-secondary-d-1-background-color has-background">
        <!-- wp:group {"layout":{"type":"constrained","contentSize":"960px"}} -->
        <div class="wp-block-group">
            <!-- wp:group {"tagName":"article","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"2rem","right":"2rem"},"blockGap":"2rem"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
            <article class="wp-block-group"
                style="padding-top:var(--wp--preset--spacing--60);padding-right:2rem;padding-bottom:var(--wp--preset--spacing--60);padding-left:2rem">
                <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"700%"},"elements":{"link":{"color":{"text":"var:preset|color|brown-secondary-0"}}}},"textColor":"brown-secondary-0","layout":{"type":"constrained"}} -->
                <div class="wp-block-group has-brown-secondary-0-color has-text-color has-link-color">
                    <!-- wp:heading -->
                    <h2 class="wp-block-heading">Who Are We?</h2>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p>Hello! My name is Ruby Su, the owner and
                        sole masseuse at Top Asian Massage and Foot Reflexology. I have been practicing massage therapy
                        since 2019 after graduating from the massage therapy program at MaKami College in Edmonton
                        Alberta.
                        After graduating, I worked at a Chinese massage clinic for 3 years, where I developed strong
                        skills
                        in therapeutic massage. I was confident enough to start my own practice out of my own studio in
                        2022. What was originally meant to be a side hustle to supplement my income quickly became my
                        full-time career.<br><br>For a long time, I've always had a passion for pain management and
                        traditional Chinese techniques, so wanted to find a career path that would allow me to help
                        others
                        in their healing journeys. Before I found massage therapy, I intended to be a nurse, but
                        unfortunately this wasn't the career for me, as I found myself very uncomfortable using needles.
                        Not
                        wanting my fear of needles to result in any unfortunate circumstances, I decided to shift my
                        focus
                        to a gentler form of care. From there, I enrolled into a 2-year massage therapy course in 2017,
                        and
                        the rest is history.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->

                <!-- wp:image {"id":160,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
                <figure class="wp-block-image size-full"><img
                        src="https://moccasin-bat-563393.hostingersite.com/wp-content/uploads/2026/03/IMG_5616.avif"
                        alt="A portrait of Ruby Su, the primary masseuse and owner of Top Asian Massage &amp; Foot Reflexology"
                        class="wp-image-160" style="aspect-ratio:1;object-fit:cover" /></figure>
                <!-- /wp:image -->
            </article>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-default"
        style="margin-top:0;margin-bottom:0" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","backgroundColor":"misc-green","layout":{"type":"constrained"}} -->
    <section class="wp-block-group has-misc-green-background-color has-background">
        <!-- wp:group {"layout":{"type":"constrained","contentSize":"960px"}} -->
        <div class="wp-block-group">
            <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"2rem","right":"2rem"},"blockGap":"2rem"}},"backgroundColor":"misc-green","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
            <div class="wp-block-group has-misc-green-background-color has-background"
                style="padding-top:var(--wp--preset--spacing--60);padding-right:2rem;padding-bottom:var(--wp--preset--spacing--60);padding-left:2rem">
                <!-- wp:image {"id":175,"sizeSlug":"full","linkDestination":"none","style":{"layout":{"selfStretch":"fixed","flexSize":"40%"}}} -->
                <figure class="wp-block-image size-full"><img
                        src="https://moccasin-bat-563393.hostingersite.com/wp-content/uploads/2026/03/IMG_5631.avif"
                        alt="The exterior of Top Asian Massage &amp; Foot Reflexology studio" class="wp-image-175" />
                </figure>
                <!-- /wp:image -->

                <!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|brown-secondary-0"}}}},"textColor":"brown-secondary-0","layout":{"type":"constrained"}} -->
                <div class="wp-block-group has-brown-secondary-0-color has-text-color has-link-color">
                    <!-- wp:heading -->
                    <h2 class="wp-block-heading">Our History</h2>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p>Working for myself has been extremely
                        rewarding. Having the flexibility to work my own hours and providing personalized, high-quality
                        care
                        for my clients has given me a strong sense of independence and passion for my craft. I am
                        eternally
                        grateful for all the success my independent practice has brought, no doubt by the support I've
                        received from all my customers from opening day up to today. It fills me with a sense of pride
                        to be
                        able to help members of my local community feel better in their own body, whether that be
                        through a
                        simple relaxation massage or helping alleviate chronic pain, and I hope to share this passion
                        with
                        you should you choose to book a service with me.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background is-style-wide"
        style="margin-top:0;margin-bottom:0" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"constrained"}} -->
    <section class="wp-block-group has-white-secondary-d-1-background-color has-background"
        style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
        <!-- wp:group {"layout":{"type":"constrained","contentSize":"960px"}} -->
        <div class="wp-block-group"><!-- wp:heading {"textAlign":"center"} -->
            <h2 class="wp-block-heading has-text-align-center">Where to
                find us</h2>
            <!-- /wp:heading -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
            <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained","justifyContent":"center"}} -->
                <div class="wp-block-group"><!-- wp:html -->
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2377.108885157902!2d-113.62920608684178!3d53.430761372198496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x539ff511871fbddd%3A0xa889da11e63d8db9!2sTop%20Asian%20massage%20%26%20foot%20reflexology!5e0!3m2!1sen!2sca!4v1775679039911!5m2!1sen!2sca"
                        width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                    <!-- /wp:html -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"1.5rem"}},"layout":{"type":"constrained"}} -->
                <div class="wp-block-group" style="margin-top:0;margin-bottom:0">
                    <!-- wp:group {"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group"><!-- wp:heading {"level":3} -->
                        <h3 class="wp-block-heading">Location</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph -->
                        <p>17717-Fifth Ave, SW Edmonton AB. T6W 2L4</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"style":{"spacing":{"margin":{"bottom":"0.75rem"}}}} -->
                        <h3 class="wp-block-heading" style="margin-bottom:0.75rem">Hours</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"className":"p","fontSize":"body-mobile"} -->
                        <p class="p has-body-mobile-font-size"><strong>Monday:</strong> <time
                                datetime="09:00">9am</time> - <time datetime="22:00">10pm</time></p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph {"className":"p","fontSize":"body-mobile"} -->
                        <p class="p has-body-mobile-font-size"><strong>Tuesday:</strong> <time
                                datetime="09:00">9am</time> - <time datetime="22:00">10pm</time></p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph {"className":"p","fontSize":"body-mobile"} -->
                        <p class="p has-body-mobile-font-size"><strong>Wednesday:</strong> <time
                                datetime="09:00">9am</time> - <time datetime="22:00">10pm</time></p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph {"className":"p","fontSize":"body-mobile"} -->
                        <p class="p has-body-mobile-font-size"><strong>Thursday:</strong> <time
                                datetime="09:00">9am</time> - <time datetime="22:00">10pm</time></p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph {"className":"p","fontSize":"body-mobile"} -->
                        <p class="p has-body-mobile-font-size"><strong>Friday:</strong> <time
                                datetime="09:00">9am</time> - <time datetime="22:00">10pm</time></p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph {"className":"p","fontSize":"body-mobile"} -->
                        <p class="p has-body-mobile-font-size"><strong>Saturday:</strong> <time
                                datetime="09:00">9am</time> - <time datetime="22:00">10pm</time></p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph {"className":"p","fontSize":"body-mobile"} -->
                        <p class="p has-body-mobile-font-size"><strong>Sunday:</strong> <time
                                datetime="09:00">9am</time> - <time datetime="22:00">10pm</time></p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kiwi-farmers","tagName":"footer"} /-->