<!-- wp:template-part {"slug":"header","theme":"kiwi-farmers","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"4.5rem","bottom":"4.5rem"}}},"backgroundColor":"white-primary-d1","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-primary-d-1-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:4.5rem;padding-bottom:4.5rem"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|brown-secondary-0"}}}},"textColor":"brown-secondary-0","fontSize":"h2-desktop","fontFamily":"tahoma"} -->
<h2 class="wp-block-heading has-text-align-center has-brown-secondary-0-color has-text-color has-link-color has-tahoma-font-family has-h-2-desktop-font-size">Our Services</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
<hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background" style="margin-top:0;margin-bottom:0"/>
<!-- /wp:separator -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4.5rem","bottom":"4.5rem"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-secondary-d-1-background-color has-background" style="padding-top:4.5rem;padding-bottom:4.5rem"><!-- wp:query {"queryId":18,"query":{"perPage":20,"pages":0,"offset":0,"postType":"massage_session","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"1.5rem"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0.25rem","bottom":"0.25rem","left":"0.25rem","right":"0.25rem"}},"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}},"backgroundColor":"misc-green","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group has-misc-green-background-color has-background" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding-top:0.25rem;padding-right:0.25rem;padding-bottom:0.25rem;padding-left:0.25rem"><!-- wp:post-featured-image {"aspectRatio":"16/9","width":"100%","height":"","className":"query-thumbnail","style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}},"layout":{"selfStretch":"fit","flexSize":null}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","bottom":"var:preset|spacing|40","top":"0rem"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-top:0rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|brown-secondary-0"}}}},"textColor":"brown-secondary-0","fontSize":"h3-desktop","fontFamily":"tahoma"} /-->

<!-- wp:read-more {"content":"\u003cstrong\u003eLearn More\u003c/strong\u003e","style":{"spacing":{"padding":{"top":"0.63rem","bottom":"0.63rem","left":"1rem","right":"1rem"}},"elements":{"link":{"color":{"text":"var:preset|color|white-primary-u2"}}},"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}},"backgroundColor":"brown-secondary-u1","textColor":"white-primary-u2","fontSize":"h3-desktop","fontFamily":"tahoma"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black"} -->
<hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background" style="margin-top:0;margin-bottom:0"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"footer","theme":"kiwi-farmers","area":"uncategorized"} /-->