<!-- wp:template-part {"slug":"header","theme":"kiwi-farmers","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0","padding":{"top":"4.5rem","bottom":"4.5rem","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"white-primary-d1","layout":{"type":"default"}} -->
    <section class="wp-block-group has-white-primary-d-1-background-color has-background"
        style="margin-top:0px;margin-bottom:0px;padding-top:4.5rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:4.5rem;padding-left:var(--wp--preset--spacing--40)">
        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center","justifyContent":"center"}} -->
        <div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1,"className":"h2"} -->
            <h1 class="wp-block-heading has-text-align-center h2">Book a Massage Appointment Today</h1>
            <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"brown-primary-u2"} -->
    <hr class="wp-block-separator has-text-color has-brown-primary-u-2-color has-alpha-channel-opacity has-brown-primary-u-2-background-color has-background"
        style="margin-top:0px;margin-bottom:0px" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","backgroundColor":"white-secondary-d1","layout":{"type":"constrained"}} -->
    <section class="wp-block-group has-white-secondary-d-1-background-color has-background">
        <!-- wp:group {"style":{"spacing":{"padding":{"top":"4.5rem","bottom":"4.5rem","left":"1rem","right":"1rem"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center","orientation":"horizontal"}} -->
        <div class="wp-block-group has-white-secondary-d-1-background-color has-background"
            style="margin-top:0;margin-bottom:0;padding-top:4.5rem;padding-right:1rem;padding-bottom:4.5rem;padding-left:1rem">
            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group"><!-- wp:heading {"className":"h2"} -->
                <h2 class="wp-block-heading h2">Who Are We?</h2>
                <!-- /wp:heading -->

                <!-- wp:paragraph -->
                <p>Hello! My name is Ruby Su, the owner and sole masseuse at Top Asian Massage and Foot Reflexology. I
                    have
                    been practicing massage therapy since 2019 after graduating from the massage therapy program at
                    MaKami
                    College in Edmonton Alberta.</p>
                <!-- /wp:paragraph -->

                <!-- wp:buttons -->
                <div class="wp-block-buttons">
                    <!-- wp:button {"className":"button","style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}}} -->
                    <div class="wp-block-button button"><a class="wp-block-button__link wp-element-button"
                            href="https://topasianmassage.com/about-us/"
                            style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px">Learn
                            More About Me</a></div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->
            </div>
            <!-- /wp:group -->

            <!-- wp:image {"id":599,"aspectRatio":"2/3","scale":"cover","sizeSlug":"full","linkDestination":"none","className":"is-style-default","style":{"layout":{"selfStretch":"fixed","flexSize":"30rem"},"border":{"radius":{"topLeft":"25px","topRight":"25px","bottomLeft":"25px","bottomRight":"25px"}},"spacing":{"margin":{"right":"0","left":"0"}}}} -->
            <figure class="wp-block-image size-full has-custom-border is-style-default"
                style="margin-right:0;margin-left:0"><img
                    src="https://topasianmassage.com/wp-content/uploads/2026/04/IMG_5763.avif" alt=""
                    class="wp-image-599"
                    style="border-top-left-radius:25px;border-top-right-radius:25px;border-bottom-left-radius:25px;border-bottom-right-radius:25px;aspect-ratio:2/3;object-fit:cover" />
            </figure>
            <!-- /wp:image -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"brown-primary-u2"} -->
    <hr class="wp-block-separator has-text-color has-brown-primary-u-2-color has-alpha-channel-opacity has-brown-primary-u-2-background-color has-background"
        style="margin-top:0px;margin-bottom:0px" />
    <!-- /wp:separator -->

    <!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"top":"4.5rem","bottom":"4.5rem","left":"1rem","right":"1rem"}}},"backgroundColor":"white-primary-d1","layout":{"type":"constrained"}} -->
    <section class="wp-block-group has-white-primary-d-1-background-color has-background"
        style="padding-top:4.5rem;padding-right:1rem;padding-bottom:4.5rem;padding-left:1rem">
        <!-- wp:group {"layout":{"type":"constrained","contentSize":"960px"}} -->
        <div class="wp-block-group"><!-- wp:heading {"className":"h2"} -->
            <h2 class="wp-block-heading h2">What We Offer</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>At Top Asian Massage, we offer a wide range of services. From simple relaxation sessions to help calm
                your
                mind to foot reflexology. It fills me with a sense of pride to be able to help members of my local
                community
                feel better in their own body, whether that be through a simple relaxation massage or helping alleviate
                chronic pain.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"1.5rem","right":"1.5rem"},"margin":{"top":"3rem","bottom":"3rem"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"constrained","contentSize":"960px","justifyContent":"center"}} -->
        <div class="wp-block-group has-white-secondary-d-1-background-color has-background"
            style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin-top:3rem;margin-bottom:3rem;padding-top:var(--wp--preset--spacing--50);padding-right:1.5rem;padding-bottom:var(--wp--preset--spacing--50);padding-left:1.5rem">
            <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","orientation":"horizontal"}} -->
            <div class="wp-block-group"
                style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                <!-- wp:image {"id":597,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none","className":"is-style-default","style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
                <figure class="wp-block-image size-full is-style-default"><img
                        src="https://topasianmassage.com/wp-content/uploads/2026/04/IMG_5718.avif" alt=""
                        class="wp-image-597" style="aspect-ratio:1;object-fit:cover" /></figure>
                <!-- /wp:image -->

                <!-- wp:image {"id":598,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none","style":{"layout":{"selfStretch":"fill","flexSize":null},"border":{"radius":{"topLeft":"0px","topRight":"0px","bottomLeft":"0px","bottomRight":"0px"}}}} -->
                <figure class="wp-block-image size-full has-custom-border"><img
                        src="https://topasianmassage.com/wp-content/uploads/2026/04/IMG_5743.avif" alt=""
                        class="wp-image-598"
                        style="border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;aspect-ratio:1;object-fit:cover" />
                </figure>
                <!-- /wp:image -->

                <!-- wp:image {"id":596,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none","style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
                <figure class="wp-block-image size-full"><img
                        src="https://topasianmassage.com/wp-content/uploads/2026/04/IMG_5695.avif" alt=""
                        class="wp-image-596" style="aspect-ratio:1;object-fit:cover" /></figure>
                <!-- /wp:image -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons">
            <!-- wp:button {"className":"button","style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}}} -->
            <div class="wp-block-button button"><a class="wp-block-button__link wp-element-button"
                    href="https://topasianmassage.com/services/"
                    style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px">Browse
                    Our Services</a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </section>
    <!-- /wp:group -->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"brown-primary-u2"} -->
    <hr class="wp-block-separator has-text-color has-brown-primary-u-2-color has-alpha-channel-opacity has-brown-primary-u-2-background-color has-background"
        style="margin-top:0px;margin-bottom:0px" />
    <!-- /wp:separator -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kiwi-farmers","tagName":"footer","align":"center"} /-->