<!-- wp:template-part {"slug":"header","theme":"kiwi-farmers","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"var:preset|spacing|20","padding":{"top":"4.5rem","bottom":"4.5rem"}}},"backgroundColor":"white-primary-d1","layout":{"type":"default"}} -->
<div class="wp-block-group has-white-primary-d-1-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:4.5rem;padding-bottom:4.5rem"><!-- wp:post-title /--></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"black"} -->
<hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background" style="margin-top:0px;margin-bottom:0px"/>
<!-- /wp:separator -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4.5rem","bottom":"4.5rem","left":"1rem","right":"1rem"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group has-white-secondary-d-1-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:4.5rem;padding-right:1rem;padding-bottom:4.5rem;padding-left:1rem"><!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"black"} -->
<hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background" style="margin-top:0px;margin-bottom:0px"/>
<!-- /wp:separator -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4.5rem","bottom":"4.5rem","left":"1rem","right":"1rem"}}},"backgroundColor":"white-primary-d1","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-primary-d-1-background-color has-background" style="padding-top:4.5rem;padding-right:1rem;padding-bottom:4.5rem;padding-left:1rem"></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kiwi-farmers","tagName":"footer"} /-->