<!-- wp:template-part {"slug":"header","theme":"kiwi-farmers","tagName":"header"} /-->
<main>

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"var:preset|spacing|20","padding":{"top":"4.5rem","bottom":"4.5rem"}}},"backgroundColor":"white-primary-d1","layout":{"type":"default"}} -->
    <div class="wp-block-group has-white-primary-d-1-background-color has-background"
        style="margin-top:0px;margin-bottom:0px;padding-top:4.5rem;padding-bottom:4.5rem">
        <!-- wp:heading {"textAlign":"center","fontSize":"h1-desktop","fontFamily":"tahoma"} -->
        <h2 class="wp-block-heading has-text-align-center has-tahoma-font-family has-h-1-desktop-font-size">Book a
            Massage</h2>
        <!-- /wp:heading -->

        <!-- wp:heading {"textAlign":"center","fontSize":"h1-desktop","fontFamily":"tahoma"} -->
        <h2 class="wp-block-heading has-text-align-center has-tahoma-font-family has-h-1-desktop-font-size">Appointment
        </h2>
        <!-- /wp:heading -->
    </div>
    <!-- /wp:group -->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background"
        style="margin-top:0px;margin-bottom:0px" />
    <!-- /wp:separator -->

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"4.5rem","bottom":"4.5rem","left":"1rem","right":"1rem"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group has-white-secondary-d-1-background-color has-background"
        style="padding-top:4.5rem;padding-right:1rem;padding-bottom:4.5rem;padding-left:1rem">
        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|brown-secondary-0"}}}},"textColor":"brown-secondary-0","fontSize":"h2-desktop","fontFamily":"tahoma"} -->
            <h2
                class="wp-block-heading has-brown-secondary-0-color has-text-color has-link-color has-tahoma-font-family has-h-2-desktop-font-size">
                Who Are We?</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"fontSize":"body-desktop","fontFamily":"sylfaen"} -->
            <p class="has-sylfaen-font-family has-body-desktop-font-size">Hello! My name is Ruby Su, the owner and sole
                masseuse at Top Asian Massage and Foot Reflexology. I have been practicing massage therapy since 2019
                after graduating from the massage therapy program at MaKami College in Edmonton Alberta.</p>
            <!-- /wp:paragraph -->

            <!-- wp:buttons -->
            <div class="wp-block-buttons">
                <!-- wp:button {"backgroundColor":"brown-secondary-u1","textColor":"white-primary-u2","style":{"elements":{"link":{"color":{"text":"var:preset|color|white-primary-u2"}}},"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}},"fontSize":"h3-desktop","fontFamily":"tahoma"} -->
                <div class="wp-block-button"><a
                        class="wp-block-button__link has-white-primary-u-2-color has-brown-secondary-u-1-background-color has-text-color has-background has-link-color has-tahoma-font-family has-h-3-desktop-font-size has-custom-font-size wp-element-button"
                        href="https://lavender-seal-408984.hostingersite.com/about-us/"
                        style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px">Learn
                        More About Me</a></div>
                <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->
        </div>
        <!-- /wp:group -->

        <!-- wp:image -->
        <figure class="wp-block-image"><img alt="" /></figure>
        <!-- /wp:image -->
    </div>
    <!-- /wp:group -->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background"
        style="margin-top:0px;margin-bottom:0px" />
    <!-- /wp:separator -->

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"4.5rem","bottom":"4.5rem","left":"1rem","right":"1rem"}}},"backgroundColor":"white-primary-d1","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-white-primary-d-1-background-color has-background"
        style="padding-top:4.5rem;padding-right:1rem;padding-bottom:4.5rem;padding-left:1rem">
        <!-- wp:heading {"fontSize":"h2-desktop","fontFamily":"tahoma"} -->
        <h2 class="wp-block-heading has-tahoma-font-family has-h-2-desktop-font-size">What We Offer</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"fontSize":"body-desktop","fontFamily":"sylfaen"} -->
        <p class="has-sylfaen-font-family has-body-desktop-font-size">At Top Asian Massage, we offer a wide range of
            services. From simple relaxation sessions to help calm your mind to foot reflexology. It fills me with a
            sense of pride to be able to help members of my local community feel better in their own body, whether that
            be through a simple relaxation massage or helping alleviate chronic pain.</p>
        <!-- /wp:paragraph -->

        <!-- wp:group {"style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}},"spacing":{"padding":{"right":"4.5rem","left":"4.5rem","top":"1.5rem","bottom":"1.5rem"},"margin":{"top":"3rem","bottom":"3rem"}}},"backgroundColor":"white-secondary-d1","layout":{"type":"constrained"}} -->
        <div class="wp-block-group has-white-secondary-d-1-background-color has-background"
            style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin-top:3rem;margin-bottom:3rem;padding-top:1.5rem;padding-right:4.5rem;padding-bottom:1.5rem;padding-left:4.5rem">
            <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
            <div class="wp-block-group"><!-- wp:image -->
                <figure class="wp-block-image"><img alt="" /></figure>
                <!-- /wp:image -->

                <!-- wp:image -->
                <figure class="wp-block-image"><img alt="" /></figure>
                <!-- /wp:image -->

                <!-- wp:image -->
                <figure class="wp-block-image"><img alt="" /></figure>
                <!-- /wp:image -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons">
            <!-- wp:button {"backgroundColor":"brown-secondary-u1","textColor":"white-primary-u2","style":{"elements":{"link":{"color":{"text":"var:preset|color|white-primary-u2"}}},"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}},"fontSize":"h3-desktop","fontFamily":"tahoma"} -->
            <div class="wp-block-button"><a
                    class="wp-block-button__link has-white-primary-u-2-color has-brown-secondary-u-1-background-color has-text-color has-background has-link-color has-tahoma-font-family has-h-3-desktop-font-size has-custom-font-size wp-element-button"
                    style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px">Browse
                    Our Services</a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </div>
    <!-- /wp:group -->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"black"} -->
    <hr class="wp-block-separator has-text-color has-black-color has-alpha-channel-opacity has-black-background-color has-background"
        style="margin-top:0px;margin-bottom:0px" />
    <!-- /wp:separator -->
</main>

<!-- wp:template-part {"slug":"footer","theme":"kiwi-farmers","tagName":"footer"} /-->